<!doctype html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <div id="main">
        <div class="menu">
            <div class="container-menu">
                <div><a id="projects">Projects list</a></div> 
                <div><a id="leaves">Leaves list</a></div> 
                <div><a id="builds">Project page</a></div>
            </div>
        </div>
      
        <div class="context">
            <div id="main-context">
                {% block context %}
                
                {% endblock %}
            </div>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>    
</html>
