.container {
  width: $breakpoint-mobile-portrait;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    width: $breakpoint-mobile-landscape;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: $breakpoint-tablet;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: $breakpoint-desktop;
  }

  @media screen and (min-width: $breakpoint-desktop-hd) {
    width: $breakpoint-desktop-hd;
  }
}

@include column(1);
@include column(2);
@include column(3);
