$breakpoint-mobile-portrait: 320px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;
$breakpoint-desktop-hd: 1200px;
$gutter: 15px;

$bg-color: #fafafa;
$base-color: #1976d2;
